#calculator {
    margin: 2% 40%;
    width: 30%;
    max-width: 600px;
    text-align: center;
    background-color: grey;
    border-radius: 4%;
}

/* Using a child combinator selector to select input and p tag in screen div*/
#screen > p, input {
    width: 100%;
    border: none;
    text-align: right;
    background-color: white;
}

.row > button {
    width: 22.5%;
    margin: 1.25%;
    background-color: whitesmoke;
}

#zeroButton {
    width: 47.5%;
}
